<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block head_title %}Ajaxify Django{% endblock head_title %}</title>
		{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--===============================================================================================-->   
		<link rel="stylesheet" type="text/css" href="{% static 'font/font-awesome-4.7.0/css/font-awesome.min.css' %}">	

		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
		<!--===============================================================================================-->
	</head>

	<body>
		<div class="container">
			{% block main_body %}
			{% endblock main_body %}
		</div>
	</body>	

	<!--===============================================================================================-->	
	<script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
	<script src="{% static 'js/bootstrap.min.js' %}" ></script>
	<!--===============================================================================================-->
    <script src="{% static 'js/popper.min.js' %}" ></script>    
	
	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					//Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
			//These HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

	</script>
	<script>
		$(document).ready(function(){
			var $myForm = $(".my-ajax-form")
			$myForm.submit(function(event){
				event.preventDefault()
				var $formData = $(this).serialize()
				var $thisURL = $myForm.attr("data-url") || window.location.href
				console.log($formData)
				console.log($thisURL)
		
				$.ajax({
					method: 'POST',
					url: $thisURL,
					data: $formData,
					success: handleFormSuccess,
					error: handleFormError,
				})
		
				function handleFormSuccess(data, textStatus, jqXHR){
					alert(textStatus)
					console.log(data)
					console.log(textStatus)            
					console.log(jqXHR)
					$myForm[0].reset();
				}
		
				function handleFormError(jqXHR, textStatus, errorThrown){
					console.log(jqXHR)
					console.log(textStatus)            
					console.log(errorThrown)
				}
		
			})
		})				
	</script>
	{% block javascript %}
	{% endblock javascript %}
    